@import url('https://fonts.googleapis.com/css2?family=Sora:wght@200;400;500&display=swap');

:root {
  --color-primary: #4E80EE;
  --color-background: #F8FAFC;
  --color-white: #FFFFFF;
  --color-border: #D2D5DA;
  --font-family: 'Inter', sans-serif;
}

/* Reset some default styles */
body, h1, h2, h3, p, ul, li {
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
}

body {
  height: 100vh;
  background-color: var(--color-background);
}

a {
  color: var(--color-primary);
  cursor: pointer;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

ul, ol {
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.heading, .heading-2, .body-text {
  font-family: var(--font-family);
}

/* Heading - Semibold (600) - 36px | 2.25rem */
.heading {
  font-weight: 600;
  font-size: 36px;
}

/* Heading 2 - Semibold (600) - 24px | 1.5rem */
.heading-2 {
  font-weight: 600;
  font-size: 24px;
}

/* Body Text - Regular (400) - 16px | 1rem */
.body-text {
  font-weight: 400;
  font-size: 16px;
}

.faq-title {
  height: 225px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 15px;
  background-color: var(--color-white);
}

.faq-answers {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 640px;
  padding: 65px 20px 0;
  gap: 30px;
  margin: 0 auto;
}

.answer {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

hr {
  border: none;
  height: 2px;
  width: 120%;
  background-color: var(--color-border);
}